<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
		
	<connectionStrings>
	<add name="Progii.Security.Properties.Settings.progiiConnectionString"
		 connectionString="Data Source=DESKTOP-8JEOURU\SQLEXPRESS;Initial Catalog=progii;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	<add name="progiiEntities"
		 connectionString="metadata=res://*/Model.Progii.csdl|res://*/Model.Progii.ssdl|res://*/Model.Progii.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8JEOURU\SQLEXPRESS;initial catalog=progii;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
		 providerName="System.Data.EntityClient" />
</connectionStrings>
	
</configuration>